body {
    width: 100%;
    text-align: center;
    color: navy;
    background-image: linear-gradient( 109.6deg,  rgba(61,245,167,1) 11.2%, rgba(9,111,224,1) 91.1% );
}

#main {
    margin-top: 10vw;
    width: 90%;
    margin: auto;
}

h1 {
    font-size: 9vw;
    color: navy;
}

h2 {
    font-size: 7vw;
    color: white;
}

h3 {
    font-size: 4vw;
}

p {
    font-size: 4vw;
    color: black;
    font-weight: 100;
}

.MathJax {
    font-size: 1.6em !important;
    color: white;
}

p .MathJax {
    font-size: 1em !important;
    color: black;
}

p.hourly {
    font-size: 3vw;
    color: white;
}