.area{
    width: 100%;
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.circles{
    width: 100%;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    /*background: rgba(10, 125, 100, 0.2);*/
    animation: animate 25s linear infinite;
    top: -13vw;
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    animation-direction: alternate;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
    animation-direction: alternate;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
    animation-direction: alternate;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
    animation-direction: alternate;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    animation-direction: alternate;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 6s;
    animation-direction: alternate;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
    animation-direction: alternate;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
    animation-direction: alternate;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
    animation-direction: alternate;
}

.circles li:nth-child(10){
    left: 50%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
    animation-direction: alternate;
}



@keyframes animate {

    0%{
        transform: translateY(0px) rotate(-45deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(100em) rotate(45deg);
        opacity: 0;
        border-radius: 50%;
    }

}

body {
    width: 100%;
    height: 100%;
    text-align: center;
    color: navy;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#main {
    width: 100%;
}

h1 {
    padding-top: 20;
    font-size: 9vw;
    background: linear-gradient(to left, rgb(50, 100, 107), rgb(30,30,30), rgb(50, 100, 107)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 7vw;
    background: linear-gradient(to left, dimgrey, black, dimgrey); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3 {
    font-size: 4vw;
    color: rgb(12, 42, 107)
}

p {
    font-size: 4vw;
    color: black;
    font-weight: 100;
    margin: 20;
    margin-top: 50;
    margin-bottom: 50;
}

.MathJax {
    margin-top: 50;
    font-size: 1.6em !important;
    color: rgb(30, 75, 80);
}

p .MathJax {
    font-size: 1em !important;
    color: black;
}

li .MathJax {
    color:rgba(10, 125, 100, 1);
}

p.hourly {
    font-size: 3vw;
    color: blue;
}

p.copyright {
    font-size: 1vw;
}