body {
    align-content: center;
    font-family: "Helvetica";
}

.block {
    font-size: 200%;
    text-align: center;
    position: relative;
    margin: 20px auto;
    padding: 20px;
    width: 100%;
    max-width: 1000px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.icon-container {
    width:100%;
}

.icon {
    margin: 10px auto;
    font-size: 300%;
}